nav{
  background-color: black;
  padding: 12px;
  width: 100%;
  height: 120px;

  font-family: 'Roboto', sans-serif;
}

.logo{
  width: 130px;
  height: 45px;
}
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropbtn{
  font-size: 18px;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #181c18;}

.row-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}
.row-top input{
  font-size: 16px;
  width: 500px;
  height: 50px;
  border-radius: 12px;
  padding: 15px;
  border: none;
  outline: none;
}
.signin-btn{
  background-color: rgb(238, 90, 90);
  color: white;
  width: 75px;
  height: 40px;
  border-radius: 6px;
}
.signin-btn:hover{
  background-color: rgb(236, 45, 45);
  cursor: pointer;
}
.right-section{
  display: flex;
  align-items: center;
}

.navicon{
  padding: 2px;
  margin-left: 15px;
  color:white;
  background: none;
  text-align: center;
  font-size: 25px;
  cursor: pointer ;
}
.user-btn{
  margin-left: 1rem;
  color:white;
  cursor:pointer;
  font-weight: bold;
  text-decoration: none;
}

.row-bottom{
  display: flex;
  justify-content: space-between;
}
.row-bottom .bottom-left-section{
  padding-top: 20px;
  padding-left: 10px;
}
.row-bottom .bottom-left-section ul li{
  padding-left: 20px;
  font-size: 17px;
  color: rgb(229, 229, 229);
  display: inline;
}
.row-bottom .bottom-left-section ul li a{
  font-size: 17px;
  color: rgb(229, 229, 229);
  text-decoration: none;
}
.row-bottom .bottom-rightSection{
  padding-top: 20px;
  padding-left: 10px;
}
.row-bottom .bottom-rightSection ul li {
  padding-left: 20px;
 
  display: inline;
}
.row-bottom .bottom-rightSection ul li a{
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* side navigation  */
.adminbox{

}
.adminLink{

    background: rgb(238, 90, 90);
}
.adminLink:hover{
    background: rgb(166, 59, 59);
  }

@media(max-width:980px){
  nav{
    height: 80px;
  }
  input{
    display: none;
  }
  .row-bottom{
    display: none;
  }
  .row-bottom{
    display: none;
  }
} 
  @media(max-width:550px){
    input{
      display: none;
    }
    .signin-btn{
      display: none;
    }
    nav{
      height: 80px;
    }
  }

